*{
    margin: 0;
    padding: 0;
}

:root{
    --blue: #0188df;
    --black: #354046;

}

body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}


.navbar{
    background-image: #f8f9fa;
    padding: 0; 
}

.navbar-nav{
    margin-left: auto;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
    padding-left: 80px;
}

.navbar-nav li{
    padding: 0 10px;
    
    
}


.navbar-nav li a{
    color: var(--black);
    font-weight: 600;  
}

.fa-bars{
    color: #fff;
    font-size: 30px;
} 

.navbar-toggler{
    outline: none;
    color: #fff;
}

/*----banner---*/

#banner{
    background: #f8f9fa;
    color: #fff;
    margin-bottom: 5%;
}


.promo{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    color: var(--black);
    line-height: 1.3;
    opacity: 0;
}

.promo span{
        
    color: var(--blue);
    font-weight: 600;
    
}


#banner a{
    color: #fff;
    text-decoration: none ;
}

.slide-left{
    animation: slideleft 2s linear forwards;
}

@keyframes slideleft{
    0%{
        transform: translate(500px);
        opacity: 0;
    }

    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.btn-primary.slide-left{
    animation-delay: 5s;
}

/*----social media---*/

#icons{
    background-color: #fff;
    padding: 20px 0;
  
}

#icons p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
   
}



.icons img{
    width: 150px;
    transition: 0.5s;
    padding: 50px;
}

.icons a:hover img{
    transform: translateY(-10px);
}


/*-------premium----*/


#premium{
    background: #fff;
    margin-top: 50px;
    padding-top: 50px;
    justify-content: space-between;
    padding: 5;
   
}

.premium{
    font-size: 20px;
     font-weight: 600;
     margin: 100px 0;

    
}

/*====boxes===*/

.leap{
    color: #0188df;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 600;
    
}

/*-------Testimonials----*/


#testimonials{
    margin: 100px 0;
    background-color: #f8f9fa;
}

.testimonials{
    border-left: 4px solid #0188df;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
 
.user-details{
    display: inline-block;
    font-size: 12px;
}
.title::before{
    content: '';
    background: #0188df;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    
}

.title::after{
    content: '';
    background: #0188df;
    height: 10px;
    width: 50px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

.testimonials .fa{
    color: #f44336;
}

#doctors{
    background-color: #e7f2fa;
}


.slide-left1{
    animation: slideleft 1s linear forwards;
}

@keyframes slideleft1{
    0%{
        transform: translate(50px);
        opacity: 0;
    }

    100%{
        transform: translate(0px);
        opacity: 1;
    }
}


/*----footer----*/

.icon img{
    
    height: 30px;
    width: 30px;
}